<!doctype html>
<head>
  <% include ./partials/documentHead %>
</head>
<body>
  <h1>Welcome to MatchBook</h1>
  <div id="fbContainer">
    <div id="fb-root"></div>
    <div
      class="fb-login-button"
      data-scope="public_profile,email,user_friends"
      data-max-rows="1"
      data-size="large"
      data-button-type="continue_with"
      data-show-faces="false"
      data-auto-logout-link="false"
      data-onlogin="checkLoginState();"
      data-use-continue-as="false">
    </div>
  </div>
  <div id="friendsListContainer" style="display:none">
    <div>
      <input type="text" name="name-1" placeholder="Profile URL" />
    </div>
    <div>
      <input type="text" name="name-2" placeholder="Profile URL(Optional)" />
    </div>
    <div>
      <input type="text" name="name-3" placeholder="Profile URL(Optional)" />
    </div>
    <button id="updateBtn">Submit</button>
  </div>
  <div id="successContainer" style="display: none">
    Thank you for your submission. You will notified when someone from this list selects you as your crush. :)
  </div>
  <% include ./partials/script %>
</body>
</html>
